# High res images
homebrew-256x256.png
oh-my-zsh.png
nodejs-180.png
nodejs-220.png
nodejs.svg
octave.png
dash-128.png
dash-256.png
install-xcode.png
install-xcode-540.png
visual-studio-code.png
wizard.png
